version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    exclude-paths:
      - "src/trtutils/download/requirements"
      - "src/trtutils/download/requirements/*.txt"
