name: MyPy
on: [ push ]
jobs:
  build:
    if: ${{ runner.arch == 'X64' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
          architecture: x64

      - name: Install dependencies
        run: |
          pip install .[all]
          pip install .[ci]
          pip install .[test]

      - name: MyPy - Source
        run: 
          python3 -m mypy src/trtutils --config-file=pyproject.toml

      - name: MyPy - Examples
        run: 
          python3 -m mypy examples --config-file=pyproject.toml

      - name: MyPy - Tests
        run: 
          python3 -m mypy tests --config-file=pyproject.toml
