name: Ruff
on: [ push ]
jobs:
  ruff_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: astral-sh/ruff-action@v3
        with:
          version: 0.14.14
          args: "format --check --diff"

  ruff_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: astral-sh/ruff-action@v3
        with:
          version: 0.14.14
