name: Ruff - Source
on: [ push ]
jobs:
  ruff:
    if: ${{ runner.arch == 'X64' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: astral-sh/ruff-action@v3
        with:
          src: src/trtutils
