name: Ty
on: [ push ]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: |
          pip install .[all]
          pip install .[ci]
          pip install .[test]

      - name: Ty - Source
        run: 
          ty check src

      - name: Ty - Examples
        run: 
          ty check examples

      - name: Ty - Tests
        run: 
          ty check tests
